body, html{
	padding: 0;
	margin: 0;
}

.cover-search{
	padding: 100px 0;
	background: url('https://as.ftcdn.net/r/v1/pics/b1544fcf65d1b929bcb6bb8f377207dbfa3804a8/home/1555/couple.jpg') center / cover;
}

.cover-search input{
	width: 80%;
	display: block;
	border-radius: 16px;
	margin: 0 auto;
	height: 64px;
	border: 2px solid #CCC;
	text-align: center;
	font-size: 32px;
	background-color: rgba(255,255,255,0.87);
}