body, html{
	padding: 0;
	margin: 0;
}

.cover-search{
	padding: 100px 0;
	background-image: url('https://as.ftcdn.net/r/v1/pics/b1544fcf65d1b929bcb6bb8f377207dbfa3804a8/home/1555/couple.jpg');
	background-size: 100%;
	animation-name: imgzooming;
	animation-duration: 7.5s;
	animation-iteration-count: infinite;
	background-position: top center;
}

.cover-search input{
	width: 80%;
	display: block;
	border-radius: 16px;
	margin: 0 auto;
	height: 64px;
	border: 2px solid #CCC;
	text-align: center;
	font-size: 32px;
	background-color: rgba(255,255,255,0.87);
 }

.row
{
	
}
.line{
	display: block !important;
}
.line-flex{
	display: flex;
}
.new-post-header
{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
.new-post-header img
{
	width: 80px;
	margin-right: 15px;
}
.line.mdl-textfield {
	width: auto !important;
}
.new-post-container
{
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	background-color: #FAFAFA;
}

.mdl-layout__header{
	background-color: rgba(255,255,255,0.87) !important;
	color: #3F51B5 !important;
}

.mdl-layout__header-row .mdl-navigation__link,
.mdl-layout__drawer-button{
	color: #3F51B5 !important;
}

@keyframes imgzooming{
	to{
		background-position: bottom center;
	}
}

.profile-header
{
	display: flex;
	margin: 10px;
    box-sizing: border-box;
}
.profile-header-info
{
	display: block;
    width: 100%;
}
.profile-header-img
{
	margin-right: 15px;
}
.profile-social
{
	display: flex;
}
.left-side
{
	width: 70%;
    float: left;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.right-side
{
	float: left;
    width: 30%;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.article-preview
{
	padding: 10px;
	margin-bottom: 15px;
}
.right-side h3
{
	text-align: center;
}
.badge
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fafafa;
    margin-bottom: 5px;
}

.badge img
{
	width: 60%;
	margin-bottom: 5px;
}
.badge p
{
	margin-bottom: 0px;
}

.all-badges
{
	width: 30%;
	display: flex;
    flex-direction: column;
	box-sizing: border-box;
    align-items: center;
    margin: 5px auto;
    padding: 15px;
    background-color: #fafafa;
    float: left;
}
.badge-flex
{
    display: flex;
    flex-wrap: wrap;
}
.all-badges img
{
	width: 60%;
	margin-bottom: 5px;
}