.faq
{
	width: 80%;
	margin: 0 auto;
}
.feeds-toolbar
{
	display: flex;
    align-items: center;
    width: 80%;
    margin: 5px auto !important;
}

*
{
	outline: 0;
}

.fa-lg
{
	margin-left: 10px;
}
