.feeds-toolbar{
	margin:10px 0 0 0;
}
.feed-hidden{
	display:none;
}
.no-matches{
	display:none;
	width: 80%;
	margin: 0 auto;
	padding: 15px;
	background-color: #FAFAFA;
}
.feeling-id-0 {background-color: #FFEB3B !important;color: #424242 !important;}
.feeling-id-1 {background-color: #FF9800 !important;}
.feeling-id-2 {background-color: #FF5722 !important;}
.feeling-id-3 {background-color: #9C27B0 !important;}
.feeling-id-4 {background-color: #3F51B5 !important;}
.feeling-id-5 {background-color: #03A9F4 !important;}
.feeling-id-6 {background-color: #4CAF50 !important;}
.feeling-id-7 {background-color: #CDDC39 !important;color: #424242 !important;}