.row
{
	
}
.line{
	display: block !important;
}
.line-flex{
	display: flex;
}
.new-post-header
{
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
.new-post-header img
{
	width: 80px;
	margin-right: 15px;
}
.line.mdl-textfield {
	width: auto !important;
}
.new-post-container
{
	width: 90% !important;
	margin: 0 auto 4px auto;
	padding: 15px;
	border-radius: 8px;
	background-color: #FAFAFA;
}

.demo-card-image.mdl-card {
  width: 100px;
  height: 100px;
    min-height: 100px;
  background: url('../assets/demos/image_card.jpg') center / cover;
  margin-right: 10px;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}