.profile-header
{
	display: flex;
	margin: 10px;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.profile-header-info
{
	display: block;
    width: 100%;
}
.profile-header-img
{
	margin-right: 15px;
}
.profile-social
{
	display: flex;
}
.left-side
{
	width: 70%;
    float: left;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.right-side
{
	float: left;
    width: 30%;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.article-preview
{
	padding: 10px;
	margin-bottom: 15px;
}
.right-side h3
{
	text-align: center;
}
.badge
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fafafa;
    margin-bottom: 5px;
}

.badge img
{
	width: 60%;
	margin-bottom: 5px;
}
.badge p
{
	margin-bottom: 0px;
    color: #333;
}