<template name="mainLayout">
    
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Uses a header that scrolls with the text, rather than staying
      locked at the top -->
    <div class="mdl-layout mdl-js-layout">
      {{ >header }}
      {{ >drawer }}
        
      <main class="mdl-layout__content">
        <div class="page-content">
              {{> yield}}
        </div>
      </main>
    </div>

    
    {{> scripts }}
</template>