<template name="badges">
    <div class="mdl-layout">
        <div class="new-post-header">
            <img src="http://www.topmanzana.com/static/secret.jpeg" alt="User Image">
            <label>
                <h4>Tus 42 Badges</h4>
            </label>
        </div>
        <div class="batch-1 batch-card-image mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions">
            <span class="batch-card-image__filename">Welcome to xperien.ce</span>
          </div>
        </div>
        <div class="badge-flex">
            <div class="all-badges">
                <img src="http://images.clipartpanda.com/police-officer-badge-clipart-clipart-fancy-badge-256x256-561e.png" alt="">
                <p>Welcome to experience</p>
            </div>
            <div class="all-badges">
                <img src="http://images.clipartpanda.com/police-officer-badge-clipart-clipart-fancy-badge-256x256-561e.png" alt="">
                <p>Welcome to experience</p>
            </div>
            <div class="all-badges">
                <img src="http://images.clipartpanda.com/police-officer-badge-clipart-clipart-fancy-badge-256x256-561e.png" alt="">
                <p>Welcome to experience</p>
            </div>
            <div class="all-badges">
                <img src="http://images.clipartpanda.com/police-officer-badge-clipart-clipart-fancy-badge-256x256-561e.png" alt="">
                <p>Welcome to experience</p>
            </div>
        </div>
    </div>
</template>