<template name="faq">
	<div class="faq">
		<h1>FAQ</h1>
		<div id="faq1">
			<h3>Pregunta preguntable</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, est assumenda quam aut repellendus nobis labore, provident obcaecati maxime deleniti sunt natus consequatur ut laborum, quibusdam accusantium repudiandae dignissimos aliquid?</p>
			<br>
		</div>
		<div id="faq2">
			<h3>Pregunta preguntable</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quod excepturi eligendi, porro delectus non, harum facilis quis ipsam nihil magni architecto doloribus iure officia, id unde. Laboriosam, expedita, non.</p>
			<br>
		</div>
		<div id="faq3">
			<h3>Pregunta preguntable</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur minima expedita nisi dignissimos, numquam nemo delectus eveniet doloremque ipsam blanditiis nesciunt esse iure ipsa! Recusandae ipsam, natus. Totam nemo, repudiandae!</p>
			<br>
		</div>
	</div>
</template>
