<template name="faq">
	<div class="faq">
		<h1>FAQ</h1>
		<!--[FAQ]-->
		<div class="demo-card-wide mdl-card mdl-shadow--2dp faq-question feeling-id-0">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">¿Cual es el proposito de&nbsp;<span class="xperience">xperien.ce</span>?</h2>
			</div>
			<div class="mdl-card__supporting-text">
				<span class="xperience">xperien.ce</span> es una applicación en la que las personas pueden compartir u obtener experiencias
				de otras personas consejos, opiniones y ayudar a otras personas<span class="faq-less">...</span>
				<span class="faq-more">. <span class="xperience">xperien.ce</span> esta pensado para que sea de la manera más
				comoda útilizando las cuentas de Facebook y Twitter para accesar fácil y rápido.</span>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect faq-toggle">
					Leer <span class="faq-less">más</span><span class="faq-more">menos</span>
				</a>
			</div>
		</div>
		<!--[/FAQ]-->
		<!--[FAQ]-->
		<div class="demo-card-wide mdl-card mdl-shadow--2dp faq-question feeling-id-1">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">¿Que puedo encontrar en&nbsp;<span class="xperience">xperien.ce</span>?</h2>
			</div>
			<div class="mdl-card__supporting-text">
				En&nbsp;<span class="xperience">xperien.ce</span> las busquedas pueden ser por palabras claves, por temas
				generales o por el estado de animo de los usuarios
				. <span class="faq-less">...</span>
				<span class="faq-more">. Las experiencias son encontradas en tiempo real, por lo que la información es
				actualizada siempre.</span>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect faq-toggle">
					Leer <span class="faq-less">más</span><span class="faq-more">menos</span>
				</a>
			</div>
		</div>
		<!--[/FAQ]-->
		<!--[FAQ]-->
		<div class="demo-card-wide mdl-card mdl-shadow--2dp faq-question feeling-id-2">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">¿Cómo puedo confiar en las experiencias en&nbsp;<span class="xperience">xperien.ce</span>?</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Los usuarios de <span class="xperience">xperien.ce</span> pueden ser calificados por otros usuarios, conforme
				a el agrado, relevancia (o/y) exactitud de que otros consideren<span class="faq-less">...</span>
				<span class="faq-more"> y pueden ganar badges(medallas) por el uso continuo, y las calificaciones que reciban.</span>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect faq-toggle">
					Leer <span class="faq-less">más</span><span class="faq-more">menos</span>
				</a>
			</div>
		</div>
		<!--[/FAQ]-->
		<!--[FAQ]-->
		<div class="demo-card-wide mdl-card mdl-shadow--2dp faq-question feeling-id-3">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">¿Como cuidan mis datos&nbsp;<span class="xperience">xperien.ce</span>?</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Los usuarios de <span class="xperience">xperien.ce</span> tienen la libertad de ser identificados o ser
				anónimo<span class="faq-less">...</span><span class="faq-more"> de esa manera los usuarios tienen la facilidad
				de cuidar su información personal.</span>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect faq-toggle">
					Leer <span class="faq-less">más</span><span class="faq-more">menos</span>
				</a>
			</div>
		</div>
		<!--[/FAQ]-->
	</div>
</template>
