<template name="favorites">
    <div class="mdl-layout">
        <div class="new-post-header">
            <img src="http://www.topmanzana.com/static/secret.jpeg" alt="User Image">
            <label>
                <h4>Tus favoritos</h4>
            </label>
        </div>
        <div class="favorites">
            <div class="article-preview">
                <h3>A Complete Guide to Flexbox</h3>
                <p>This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.</p>
                <a href="">Leer más</a>
            </div>

            <div class="article-preview">
                <h3>A Complete Guide to Flexbox</h3>
                <p>This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.</p>
                <a href="">Leer más</a>
            </div>

            <div class="article-preview">
                <h3>A Complete Guide to Flexbox</h3>
                <p>This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.</p>
                <a href="">Leer más</a>
            </div>

            <div class="article-preview">
                <h3>A Complete Guide to Flexbox</h3>
                <p>This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.</p>
                <a href="">Leer más</a>
            </div>
        </div>
    </div>
</template>