<template name="feeds">
	<script type="text/javascript" src="js/feeds.js"></script>
	<link rel="stylesheet" type="text/css" href="css/feeds.css"/>
	{{ > cover_search}}
	<div class="feeds">
		<div class="feeds-toolbar">
			<select class="categories">
				<option value="">Seleccionar categoria</option>
				{{#each categoryList }}
				<option value='{{ _id }}'>{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="line-flex">
			<div class="menu-feels">
				{{#each feelingList}}
					<span id="feel{{name}}" data-enum="{{enum}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent exp_feel feel-{{name }}">{{name_es}}</span>
				{{/each}}
				<span data-enum class="mdl-button mdl-js-button mdl-button--raised exp_feel mdl-js-ripple-effect">Ninguno</span>
				<!-- <select class="moods">
					<option value="">Seleccionar sentimiento</option>
					{{#each feelingList }}
					<option value='{{ _id }}'>{{name_es}}</option>
					{{/each}}
				</select> -->
			</div>
		</div>
		{{#each feedFilter}}
		<div class="new-post-container feed mood{{Feeling}} category{{CategoryId}}" data-description="{{Description}}" data-category-id="{{CategoryId}}" data-mood-id="{{Feeling}}">
			<div class="new-post-header">
				<img src="http://www.topmanzana.com/static/secret.jpeg" alt="User Image">
				<label>
					<h4>{{UserId}}</h4>
				</label>
			</div>
			<div>
				<a href="show/{{_id}}"><h1 class="title">{{Title}}</h1></a>
				<p class="description">{{Description}}</p>
			</div>
		</div>
		{{/each}}
		<div class="no-matches">
			<h1>No se encontraron resultados! :(</h1>
		</div>
	</div>
</template>
