<template name="feeds">
	<script type="text/javascript" src="js/feeds.js"></script>
	<link rel="stylesheet" type="text/css" href="css/feeds.css"/>
	{{ > cover_search}}
	<div class="feeds">
		<div class="feeds-toolbar">
			<select class="categories">
				<option value="">Seleccionar categoria</option>
				{{#each categoryList }}
				<option value='{{ _id }}'>{{name}}</option>
				{{/each}}
			</select>
			<select class="moods">
				<option value="">Seleccionar sentimiento</option>
				{{#each feelingList }}
				<option value='{{ _id }}'>{{name_es}}</option>
				{{/each}}
			</select>
		</div>
		{{#each feedList}}
		<div class="new-post-container feed mood{{Feeling}} category{{CategoryId}}" data-description="{{Description}}" data-category-id="{{CategoryId}}" data-mood-id="{{Feeling}}">
			<div class="new-post-header">
				<img src="http://www.topmanzana.com/static/secret.jpeg" alt="User Image">
				<label>
					<h4>{{UserId}}</h4>
				</label>
			</div>
			<div>
				<h1 class="title">{{Title}}</h1>
				<p class="description">{{Description}}</p>
			</div>
		</div>
		{{/each}}
		<div class="no-matches">
			<h1>No se encontraron resultados! :(</h1>
		</div>
	</div>
</template>
