<template name="feeds">
	<script type="text/javascript" src="js/feeds.js"></script>
	{{ > cover_search}}
	<div class="feeds">
		<div class="feeds-toolbar">
			<select class="categories form-control">
				<option value="">Seleccionar categoria</option>
				{{#each categoryList }}
				<option value='{{ _id }}'>{{name}}</option>
				{{/each}}
			</select>
			<select class="moods form-control">
				<option value="">Seleccionar sentimiento</option>
				{{#each feelingList }}
				<option value='{{enum}}' class="feeling-id-{{enum}}">{{name_es}}</option>
				{{/each}}
			</select>
		</div>
		{{#each feedList}}
		<div class="new-post-container feed feeling-id-{{Feeling}}" data-description="{{Title}} {{Description}}" data-category-id="{{CategoryId}}" data-feeling-id="{{Feeling}}">
			<div class="new-post-header">
				<img src="http://www.topmanzana.com/static/secret.jpeg" alt="User Image">
				<label>
					<h4 class="feed-user" data-annonimous="{{asAnnonymous}}">{{UserId}}</h4>
				</label>
			</div>
			<div>
				<a href="show/{{_id}}"><h1 class="title">{{Title}}</h1></a>
				<p class="description">{{Description}}</p>
			</div>
		</div>
		{{/each}}
		<div class="no-matches">
			<h2>No se encontraron resultados! :(</h2>
		</div>
	</div>
</template>
