<template name="header">
  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">xperien.ce</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">{{> loginButtons}}</a>
        <a class="mdl-navigation__link" href="/new">Crear</a>
        <a class="mdl-navigation__link" href="/profile">Mi Perfil</a>
        
      </nav>
    </div>
  </header>
</template>
