<template name="new_post">
    <div class="mdl-layout">
        <form class="new-post-container" >
            <div class="new-post-header">
                <img src="http://www.topmanzana.com/static/secret.jpeg" alt="User Image">
                <label>
                    <h4>Nueva Experiencia</h4>
                </label>

            </div>
            <div>
              <div class="mdl-textfield mdl-js-textfield line">
                <input class="mdl-textfield__input" type="text" id="exp_title"/>
                <label class="mdl-textfield__label" for="sample1">Título de tu experiencia</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield line">
                <textarea class="mdl-textfield__input" type="text" id="exp_description" rows="6"></textarea>
                <label class="mdl-textfield__label" for="sample1">Describe tu experiencia</label>
              </div>
            </div>
            <div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent feel-joy">Alegría</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent feel-trust">Confianza</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent feel-fear">Miedo</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent feel-surprise">Sorpresa</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent feel-sadness">Tristeza</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent feel-disgust">Aversión</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent feel-anger">Ira</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent feel-anticipation">Anticipación</button>
            </div>
            <br />
            <div class="line-flex">
                <select name="" id="exp_category">
                    <option value="">Selecciona una opción</option>
                    {{#each categoryList }}
                      <option value='{{ _id }}'>{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <br />
            <div class="line-flex">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                  <input type="checkbox" id="exp_annon" class="mdl-checkbox__input" checked/>
                  <span class="mdl-checkbox__label">Publicar como anónimo</span>
                </label>
                <button id="exp_create" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">add</i>
                </button>
            </div>

        </form>
    </div>

    <style>
      .feel-fear {
        background-color: #4CAF50 !important;
      }
      .feel-trust {
        background-color: #CDDC39 !important;
        color: #424242 !important;
      }
      .feel-joy {
        background-color: #FFEB3B !important;
        color: #424242 !important;
      }
      .feel-anticipation {
        background-color: #FF9800 !important;
      }
      .feel-anger {
        background-color: #FF5722 !important;
      }
      .feel-disgust {
        background-color: #9C27B0 !important;
      }
      .feel-sadness {
        background-color: #3F51B5 !important;
      }
      .feel-surprise {
        background-color: #03A9F4 !important;
      }
    </style>
</template>
