<template name="profile">
    <div class="mdl-layout">
        <div class="profile-header">
            <div class="profile-header-img">
                <img src="{{profile.picture}}" alt="User Image">
            </div>
            <div class="profile-header-info">
                <h1>{{profile.name}}</h1>
                <div class="profile-social">
                    <label>{{profile.birthdate}}</label>
                    <a href=""><i class="fa fa-facebook-official fa-lg"></i></a>
                    <a href=""><i class="fa fa-twitter fa-lg"></i></a>
                    <a href=""><i class="fa fa-google-plus fa-lg"></i></a>
                    <a href=""><i class="fa fa-instagram fa-lg"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-body">
            <div class="left-side">
                
                {{#each experiences}}
                    {{> experience_resume }}
                {{/each}}
            </div>
            <div class="right-side">
                <h3>{{profile.total_badges}} Badges</h3>
                {{#if has_no_badges }}
                    <div class="">
                        Aún no tienes badges! :(
                    </div>
                {{/if}}
                
                {{#each profile.badges}}
                   {{> badge }}
                {{/each}}
            </div>
        </div>
    </div>
</template>
