<template name="profile">
    <div class="mdl-layout">
        <div class="profile-header">
            <div class="profile-header-img">
                <img src="http://www.topmanzana.com/static/secret.jpeg" alt="User Image">
            </div>
            <div class="profile-header-info">
                <h1>Name Lastname</h1>
                <div class="profile-social">
                    <label>Oct 30</label>
                    <a href="fb.com"><i class="material-icons md-18">polymer</i></a>
                    <a href="fb.com"><i class="material-icons md-18">translate</i></a>
                    <a href="fb.com"><i class="material-icons md-18">gesture</i></a>
                    <a href="fb.com"><i class="material-icons md-18">school</i></a>
                </div>
            </div>
        </div>
        <div class="profile-body">
            <div class="left-side">
                <div class="article-preview">
                    <h3>A Complete Guide to Flexbox</h3>
                    <p>This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.</p>
                    <a href="">Leer más</a>
                </div>
                <div class="article-preview">
                    <h3>A Complete Guide to Flexbox</h3>
                    <p>This establishes the main-axis, thus defining the direction flex items are placed in the flex container. Flexbox is (aside from optional wrapping) a single-direction layout concept. Think of flex items as primarily laying out either in horizontal rows or vertical columns.</p>
                    <a href="">Leer más</a>
                </div>
            </div>
            <div class="right-side">
                <h3>42 Badges</h3>
                <div class="badge">
                    <img src="http://images.clipartpanda.com/police-officer-badge-clipart-clipart-fancy-badge-256x256-561e.png" alt="">
                    <p>Welcome to experience</p>
                </div>
                <div class="badge">
                    <img src="http://images.clipartpanda.com/police-officer-badge-clipart-clipart-fancy-badge-256x256-561e.png" alt="">
                    <p>First timer</p>
                </div>
                <div class="badge">
                    <img src="http://images.clipartpanda.com/police-officer-badge-clipart-clipart-fancy-badge-256x256-561e.png" alt="">
                    <p>You're liking it</p>
                </div>
            </div>
        </div>
    </div>
</template>