<template name="show_post">
    <div class="post-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <div class="post-ribbon feeling-{{Feeling}}"></div>
      <main class="post-main mdl-layout__content">
        <div class="post-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="post-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        	<div class="show-post-header mdl-grid">
	          	<div class="mdl-cell mdl-cell--2-col">
	          		<a href="/profile/{{UserId}}"><img src="{{user.picture}}" alt="User Image"></a>
	          	</div>
	          	<div class="mdl-cell mdl-cell--8-col"><a href="/profile/{{UserId}}">{{user.name}}</a></div>
	          	<div class="mdl-cell mdl-cell--1-col ac"><i class="material-icons">flight</i></div>
	          	<div class="mdl-cell mdl-cell--1-col ac"><i class="material-icons">mood</i></div>
          	</div>
            <h3>{{ Title }}</h3>
            <p> {{ Description }} </p>
        	<div class="show-bottom-bar mdl-grid ar">
	          	<div class="mdl-cell mdl-cell--10-col"></div>
	          	<div class="mdl-cell mdl-cell--1-col">
	          		<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="material-icons">share</i></button>
	          	</div>
	          	<div class="mdl-cell mdl-cell--1-col">
	          		<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="material-icons">favorite</i></button>
	          	</div>
          	</div>
          </div>
        </div>
      </main>
    </div>
</template>